<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Params" parallel = "methods">
	
	<!-- <groups>
		 <run>
			 <include name="demo"></include>
		 </run>
	 </groups>-->
	 <parameter name="a" value="1" />
      <parameter name="b" value="2" />
    <classes>
      <class name="api.test.createTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
